.fm {
    display: inline-block;
    background-repeat: no-repeat;
}

.fm-ico-gps {
    background-image: url('../icons/icon-location.svg');
}

.fm-ico-tel {
    background-image: url('../icons/icon-phone.svg');
}

.fm-ico-email {
    background-image: url('../icons/icon-email.svg');
}
.fm-ico-arrow {
    background-image: url('../icons/icon-arrow.svg');
}