body {
    background: black;
    color: white;
    font-family: Raleway;
}

/* Landing Page */

/* Footer */

/* Header */
.header {
    padding: 24px 20px 0;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
}

.header-navigation--menu-list {
    margin: 0;
}

.header-navigation--menu-item {
    list-style: none;
    display: inline;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;

    padding-left: 25px;
}

.header-navigation--menu-item a:not(:hover) {
    text-decoration: none;
    color: white;
}

.header-navigation--menu-item a:hover {
    color: white;
    font-weight: 500;
}